---
layout: default
---
<article class="post">
  <h1>{{ page.title }}</h1>
  <p class="muted">{{ page.date | date: '%B %d, %Y' }}</p>
  {% include tag_badges.html %}
  {% if page.youtube_id %}
    {% include youtube.html id=page.youtube_id %}
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
  <hr>
  <p class="small">Filed under: {% for t in page.tags %}<a href="{{ '/blog/?tag=' | relative_url }}{{ t | url_encode }}">#{{ t }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
</article>
